* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: #e9ebee;
  width: 100%;
  height: 10vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul, li {
  display: block;
  padding: 0px;
  margin: 0px;
}

.menu_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  padding: 55px;
  height: 100%;
  min-height: 400px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: unset;
  text-align: right;
  color: blue;
  min-height: 350px;
}

.note a {
  display: block;
  color: #736e7d;
  font-size: 13px;
  line-height: unset;
  font-weight: bold;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(45deg, #5E42A5 0%, #B64E91 100%);
  border-image-slice: 1;
  padding: 5% 0;
  transition: all 0.2s ease-in;
}
.note a:hover {
  color: #b9b9b9;
}

.checker {
  display: none;
}

#checker_one:checked + .note a {
  color: white;
}

#checker_two:checked + .note a {
  color: white;
}

#checker_three:checked + .note a {
  color: white;
}

#checker_four:checked + .note a {
  color: white;
}

#side_bar {
  width: 22%;
  position: fixed;
  height: 100vh;
  background: #312450;
  overflow-y: auto;
}

#content {
  width: 78%;
  margin-left: 22%;
  background-attachment: fixed;
  background-image: url(../../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button {
  display: inline-block;
  border: 1px solid #B6A9D7;
  border-radius: 35px;
  padding: 20px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 800;
  letter-spacing: 0.1em;
  background-color: transparent;
  transition: all 0.2s ease-in;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: white;
}

.welcome {
  height: 100vh;
  min-height: 450px;
  background-color: rgba(95, 67, 167, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.welcome .text {
  width: 750px;
  min-height: 350px;
  margin-left: 8%;
}
.welcome h1 {
  color: white;
  font-size: 70px;
  line-height: unset;
  font-weight: unset;
}
.welcome p {
  color: #AA98D1;
  font-size: 25px;
  line-height: 1.6em;
  font-weight: unset;
  margin: 8% 0;
}
.welcome p a {
  color: #AA98D1;
  border-bottom: 1px dotted #AA98D1;
}

.who_we_are .block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: unset;
  height: 495px;
}
.who_we_are .img-wrap {
  width: 35%;
}
.who_we_are .img-wrap img {
  height: 100%;
}
.who_we_are .text_gallery {
  width: 65%;
  padding: 6% 6% 2%;
}
.who_we_are .text_gallery h2 {
  color: white;
  font-size: 45px;
  line-height: unset;
  font-weight: unset;
}
.who_we_are .text_gallery p {
  color: #A7A5D9;
  font-size: 20px;
  line-height: 2em;
  font-weight: unset;
  margin: 30px 0;
}
.who_we_are .one {
  background-color: #5052B5;
}
.who_we_are .two {
  background-color: #4849A2;
}
.who_we_are .three {
  background-color: #4C4EAC;
}

.what_we_do {
  background-color: #B74E91;
  height: 1320px;
}
.what_we_do .title {
  padding: 6%;
  padding-bottom: 3%;
}
.what_we_do h2 {
  color: white;
  font-size: 39px;
  line-height: unset;
  font-weight: 600;
}
.what_we_do p {
  color: #DBA9CC;
  font-size: 22px;
  line-height: 1.75;
  font-weight: unset;
  margin: 3% 0;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border: 1px solid #C26AA6;
  border-radius: 5px;
  position: relative;
  z-index: 1000;
}

.tabl {
  height: 300px;
  width: 50%;
  padding: 70px 50px 50px 120px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: #BA5596;
  position: relative;
}
.tabl .icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  color: #BA5596;
  position: absolute;
  top: 20%;
  left: 10%;
}
.tabl .icon .fa, .tabl .icon .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tabl .text-wrap {
  text-align: left;
}
.tabl .text-wrap h3 {
  color: white;
  font-size: 24px;
  line-height: unset;
  font-weight: 600;
}
.tabl .text-wrap p {
  color: #DBA9CC;
  font-size: 22px;
  line-height: 1.75;
  font-weight: 400;
}

.get_in_touch {
  background-color: #5E42A6;
  height: 100vh;
  min-height: 800px;
}

.get-wrap {
  padding: 8% 8% 3%;
}
.get-wrap h2 {
  color: white;
  font-size: 38px;
  line-height: unset;
  font-weight: unset;
  margin-bottom: 2%;
}
.get-wrap p {
  color: #A7A5D9;
  font-size: 22px;
  line-height: 1.75;
  font-weight: unset;
  margin-bottom: 4%;
}

.fields {
  display: flex;
}

.forms {
  width: calc(65.7% - 2em);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  padding-right: 25px;
  min-height: 470px;
}

form .fields_form {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 1.5em);
  margin-bottom: 20px;
}

.form_name {
  color: white;
  font-weight: bold;
  line-height: 2.5;
  font-size: 1.75em;
  margin: 0px 0px 0.5em;
  display: flex;
  flex-direction: column;
  width: calc(50% - 0.75em);
}
.form_name input {
  height: 2.7em;
  width: 85%;
  background-color: #664aaa;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  padding: 5px 1em;
}

.form_email {
  color: white;
  font-weight: bold;
  line-height: 2.5;
  font-size: 1.75em;
  margin: 0px 0px 0.5em;
  display: flex;
  flex-direction: column;
  width: calc(50% - 0.75em);
}
.form_email input {
  height: 2.7em;
  width: 85%;
  background-color: #664aaa;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  padding: 5px 1em;
}

.message {
  color: white;
  font-weight: bold;
  line-height: 2.5;
  font-size: 1.75em;
  margin: 0px 0px 0.5em;
  display: flex;
  flex-direction: column;
}
.message textarea {
  width: 470px;
  height: 160px;
  background-color: #664aaa;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  padding: 5px 1em;
}

.contact {
  width: calc(28.75% - 2em);
  padding-left: 2em;
}
.contact li {
  margin-bottom: 15%;
}

.item h3 {
  color: white;
  font-size: 24px;
}
.item p {
  font-size: 22px;
}
.item a {
  color: #A7A5D9;
  font-size: 22px;
  border-bottom: 1px dotted #AA98D1;
}
.item i {
  margin-right: 20px;
  font-size: 1em;
}

footer {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #493382;
  height: 240px;
}
footer section {
  padding: 25px 60px;
}
footer .foo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
}
footer .foo li {
  color: #644D95;
  margin-right: 17px;
  border-left: solid 1px rgba(255, 255, 255, 0.15);
  padding-left: 12px;
}
footer .foo li a {
  color: #644D95;
  border-bottom: 1px dotted #644D95;
}

@media screen and (max-width: 1680px) {
  .menu_wrap .note a {
    color: #736e7d;
    font-size: 11px;
    line-height: unset;
    font-weight: bold;
  }

  .welcome {
    min-height: 350px;
  }
  .welcome .text {
    min-height: 290px;
  }
  .welcome .text h1 {
    color: white;
    font-size: 48px;
    line-height: unset;
    font-weight: unset;
  }
  .welcome .text p {
    color: #AA98D1;
    font-size: 21px;
    line-height: 1.6em;
    font-weight: unset;
  }

  .who_we_are .block {
    min-height: 390px;
    height: 50vh;
  }
  .who_we_are .img-wrap {
    width: 30%;
  }
  .who_we_are .text_gallery h2 {
    color: white;
    font-size: 30px;
    line-height: unset;
    font-weight: unset;
  }
  .who_we_are .text_gallery p {
    color: #A7A5D9;
    font-size: 17px;
    line-height: 2em;
    font-weight: unset;
  }
}
@media screen and (max-width: 1440px) {
  .who_we_are .img-wrap {
    width: 35%;
  }

  .what_we_do {
    height: 1105px;
  }
  .what_we_do h2 {
    color: white;
    font-size: 30px;
    line-height: unset;
    font-weight: 600;
  }
  .what_we_do p {
    color: #DBA9CC;
    font-size: 18px;
    line-height: 1.75;
    font-weight: unset;
  }
  .what_we_do .tabl {
    height: 240px;
  }
  .what_we_do .tabl .text-wrap h3 {
    color: white;
    font-size: 22px;
    line-height: unset;
    font-weight: 600;
  }
  .what_we_do .tabl .text-wrap p {
    color: #DBA9CC;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
  }

  .get_in_touch {
    min-height: 715px;
  }

  .get-wrap h2 {
    color: white;
    font-size: 30px;
    line-height: unset;
    font-weight: unset;
  }
  .get-wrap p {
    color: #A7A5D9;
    font-size: 17px;
    line-height: 1.75;
    font-weight: unset;
  }

  footer {
    height: 155px;
  }
}
@media screen and (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
  }

  #side_bar {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10000;
  }

  .menu_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: unset;
    padding: 0;
    height: 100%;
    min-height: 50px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 50px;
    width: 550px;
  }

  .note a {
    color: #736e7d;
    font-size: 10px;
    line-height: unset;
    font-weight: bold;
    padding: 20px 0;
  }

  #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: unset;
    margin-left: 0;
    width: 100%;
    margin-top: 54px;
  }
}
@media screen and (max-width: 768px) {
  .welcome .text {
    width: auto;
    min-height: 350px;
    padding: 8% 8% 15%;
    margin-left: 0;
  }

  main {
    width: 768px;
  }
}

/*# sourceMappingURL=main.css.map */
