.menu_wrap
	+flex(column, center, unset)
	padding: 55px
	height: 100%
	min-height: 400px


.menu
	+flex(column, space-around, unset)
	text-align: right
	color: blue
	min-height: 350px

.note
	a
		display: block
		+font(#736e7d, 13px, unset, bold)
		letter-spacing: 0.35em
		text-transform: uppercase	
		border-bottom: 2px solid transparent
		border-image: linear-gradient(45deg, #5E42A5 0%, #B64E91 100%)
		border-image-slice: 1
		padding: 5% 0		
		+transition (0.2s)
		
		&:hover
			color: #b9b9b9

	

.checker
	display: none

#checker_one
	&:checked + .note a 
		color: white

#checker_two
	&:checked + .note a 
		color: white

#checker_three
	&:checked + .note a 
		color: white

#checker_four
	&:checked + .note a 
		color: white		

