@import "reset.sass"
@import "var.sass"
@import "mixin.sass"
@import "nav.sass"


#side_bar
	width: 22%
	position: fixed
	height: 100vh
	background: #312450

#content
	width: 78%
	margin-left: 22%
	background-attachment: fixed
	background-image: url(../../img/bg.jpg)
	background-repeat: no-repeat
	background-size: 100% 100%

.button
	+button
	+transition(0.5s)
	&:hover
		background-color: rgba(255, 255, 255, 0.25)
		border-color: white


.welcome
	height: 100vh
	background-color: $bg_col_wellcome
	+flex(column, center, flex-start)	 

	.text
		width: 750px
		margin-left: 8%

	h1
		+font(white, 70px, unset, unset)

	p 
		+font($color_text_hover, 25px, 1.6em, unset)
		margin: 8% 0

		a
			color: $color_text_hover 
			border-bottom: 1px dotted $color_text_hover


.who_we_are_1
	background-color: $bg_col_who_1
	height: 50vh

	.images img
		+gallery_img

	.text_gallery
		padding: $padding_text
		display: inline-block
		position: absolute

		h2
			+font(white, 2em, unset, unset)

		p
			margin: 50px 0
			line-height: 2em    
			color: $color_text_gallery



.who_we_are_2
	background-color: $bg_col_who_2 
	height: 50vh

	.images img
		+gallery_img

	.text_gallery
		padding: $padding_text
		display: inline-block
		position: absolute

		h2
			color: white
			margin-bottom: 30px
			font-size: 2.0em

		p
			margin-bottom: 50px 
			line-height: 2em
			color: $color_text_gallery

.who_we_are_3
	background-color: $bg_col_who_3 
	height: 50vh

	.images img
		+gallery_img

	.text_gallery
		padding: $padding_text
		display: inline-block
		position: absolute

		h2
			color: white
			margin-bottom: 30px
			font-size: 2.0em

		p
			margin-bottom: 50px
			line-height: 2em
			color: $color_text_gallery

.what_we_do
	background-color: $bg_col_what
	height: 150vh

	.what_text
		padding: 6%
		padding-bottom: 3%

	h2
		font-size: $h2_size
		color: white
	p
		color: #DBA9CC
		line-height: 1.75
		font-size: 17px
		margin: 3% 0

.table 
	+flex(row, start, center)
	flex-wrap: wrap
	margin-bottom: 50px
	border: 1px solid #C26AA6
	border-radius: 5px

	.tabl
		width: 39.9%
		padding: 50px
		border: 1px solid rgba(255, 255, 255, 0.15)
		background-color: #BA5596

	.icon
		+span_icon 
		position: absolute
		margin-left: -20px
	h3
		color: white
		padding-left: 55px
	p
		color: #DBA9CC
		line-height: 1.75
		font-size: 18px
		padding-left: 55px
		margin: 0px 0px 2em



.get_in_touch                     
	background-color: #5E42A6
	height: 100vh

.text_get_in    
	padding: 4em 4em 2em 
	h2
		font-size: $h2_size
		color: $h_color_white
		margin: 0px 0px 0.5em   
	p
		color: $color_text_gallery
		line-height: 1.75
		font-size: 1.15em

.fields
	display: flex

.forms
	width: calc(65.7% - 2em) 
	border-right: 1px solid rgba(255, 255, 255, 0.15)
	padding-right: 25px

form
	.fields_form
		display: flex
		flex-wrap: wrap
		width: calc(100% + 1.5em)
		margin-bottom: 20px

.form_name
	+label
	width: calc(50% - 0.75em)
	input 
		height: 2.7em
		width: 85%
		+input_color

.form_email
	+label
	width: calc(50% - 0.75em) 
	input 
		height: 2.7em
		width: 85%   
		+input_color

.message
	+label
	textarea
		width: 470px
		height: 160px
		+input_color

.contact
	width: calc(28.75% - 2em)
	padding-left: 2em

.item
	h3
		color: $h_color_white

	p
		color: $color_p
		font-size: 1.3em

	a
		color: #A7A5D9
		font-size: 1.3em
		border-bottom: 1px dotted #AA98D1

	i
		margin-right: 20px
		font-size: 1em


footer
	+content
	background-color: #493382

	section 
		padding: 25px 60px

	.foo
		+flex(row, left, baseline)

		li
			color: #644D95
			margin-right: 15px
			border-left: solid 1px rgba(255, 255, 255, 0.15)
			padding-left: 12px

			a
				color: #644D95
				border-bottom: 1px dotted #644D95
