@import "reset.sass"
@import "var.sass"
@import "mixin.sass"
@import "nav.sass"


.nav_menu
    width: 25%
    position: fixed
    height: 100vh
    background: #312450
    color: blue
    +flex(column, center, center)
    ul
        text-align: right
        width: 80%
        li
            width: 85%
            border-bottom: 2px solid #7C61B6
            padding: 15px
            a
                color: $color_text_hover
                display: block
                font-weight: bold
                letter-spacing: 0.35em
                text-transform: uppercase
                font-size: 0.7em
                +transition(0.6s)
    & li a:hover
        color: white
        padding: 0px 5px 0px 5px
        

.content
    width: 75%
    margin-left: 25%
    
