@import "reset.sass"
@import "var.sass"
@import "mixin.sass"
@import "nav.sass"



#side_bar
	width: 22%
	position: fixed
	height: 100vh
	background: #312450
	overflow-y: auto

#content
	width: 78%
	margin-left: 22%
	background-attachment: fixed
	background-image: url(../../img/bg.jpg)
	background-repeat: no-repeat
	background-size: 100% 100%

.button
	+button
	+transition(0.2s)
	&:hover
		background-color: rgba(255, 255, 255, 0.25)
		border-color: white


.welcome
	height: 100vh
	min-height: 450px
	background-color: $bg_col_wellcome
	+flex(column, center, flex-start)	 

	.text
		width: 750px
		min-height: 350px
		margin-left: 8%

	h1
		+font(white, 70px, unset, unset)

	p 
		+font($color_text_hover, 25px, 1.6em, unset)
		margin: 8% 0

		a
			color: $color_text_hover 
			border-bottom: 1px dotted $color_text_hover

.who_we_are

	.block	
		+flex(row, flex-start, unset)
		height: 495px

	.img-wrap
		width: 35%		

		img 
			height: 100%


	.text_gallery
		width: 65%
		padding: 6% 6% 2%

		h2
			+font(white, 45px, unset, unset)

		p
			+font($color_text_gallery, 20px, 2em, unset)
			margin: 30px 0


	.one	
		background-color: $bg_col_who_1

	.two
		background-color: $bg_col_who_2

	.three	 	
		background-color: $bg_col_who_3






.what_we_do
	background-color: $bg_col_what
	height: 1320px

	.title
		padding: 6%
		padding-bottom: 3%

	h2
		+font(white, 39px, unset, 600)

	p
		+font(#DBA9CC, 22px, 1.75, unset)
		margin: 3% 0

.table 
	+flex(row, start, center)
	flex-wrap: wrap
	margin-bottom: 50px
	border: 1px solid #C26AA6
	border-radius: 5px
	position: relative
	z-index: 1000

.tabl
	height: 300px
	width: 50%
	padding: 70px 50px 50px 120px
	border: 1px solid rgba(255, 255, 255, 0.15)
	background-color: #BA5596
	position: relative

	.icon
		+span_icon 
		position: absolute
		top: 20%
		left: 10%

		.fa, .fas
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

	.text-wrap
		text-align: left			

		h3
			+font(white, 24px, unset, 600)
			
		p
			+font(#DBA9CC, 22px, 1.75, 400)




.get_in_touch                     
	background-color: #5E42A6
	height: 100vh
	min-height: 800px

.get-wrap    
	padding: 8% 8% 3%
	h2
		+font(white, 38px, unset, unset)
		margin-bottom: 2%   
	p
		+font($color_text_gallery, 22px, 1.75, unset)
		margin-bottom: 4%


.fields
	display: flex

.forms
	width: calc(65.7% - 2em) 
	border-right: 1px solid rgba(255, 255, 255, 0.15)
	padding-right: 25px
	min-height: 470px

form
	.fields_form
		display: flex
		flex-wrap: wrap
		width: calc(100% + 1.5em)
		margin-bottom: 20px

.form_name
	+label
	width: calc(50% - 0.75em)
	input 
		height: 2.7em
		width: 85%
		+input_color

.form_email
	+label
	width: calc(50% - 0.75em) 
	input 
		height: 2.7em
		width: 85%   
		+input_color

.message
	+label
	textarea
		width: 470px
		height: 160px
		+input_color

.contact
	width: calc(28.75% - 2em)
	padding-left: 2em

	li 
		margin-bottom: 15%

.item
	h3
		color: $h_color_white
		font-size: 24px

	p
		font-size: 22px

	a
		color: #A7A5D9
		font-size: 22px
		border-bottom: 1px dotted #AA98D1

	i
		margin-right: 20px
		font-size: 1em


footer
	+content
	+flex (column, center, flex-start) 
	background-color: #493382
	height: 240px

	section 
		padding: 25px 60px

	.foo
		+flex(row, left, baseline)

		li
			color: #644D95
			margin-right: 17px
			border-left: solid 1px rgba(255, 255, 255, 0.15)
			padding-left: 12px

			a
				color: #644D95
				border-bottom: 1px dotted #644D95


@import "_breakpoint.sass"
